// skillsparallex.scss
@import "../../App.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 100px;
      line-height: 88px;
    }

    span {
      font-weight: 300;
    }

    .skillsSvg {
      stroke: #ef8ba2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  .parallex {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #073763;
    position: relative;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .textContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        h1 {
          font-size: 88px;
          text-align: center;
        }

        .buttons {
          button {
            padding: 20px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            margin-right: 20px;
            font-weight: 300;
            cursor: pointer;
          }
        }

        img {
          width: 50px;
        }
      }
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      color: #ffffff09;
      width: 50%;
      white-space: nowrap;
      font-weight: bold;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
